#banniere
{
    width: 800px;
    height: 200px;
    
}
#the ,#cacao , #chocolat
{
    width: 200px;
    height: 100px;
    border: solid 2px #8D99AE;
} 


body
{
    background-image: linear-gradient(to bottom,#CCDAE0, #EDF2F4);
}


header
{
    text-align: center;
}
section /*pour centrer les images*/
{
    text-align: center;
}

h1
{
    color: #EF233C ;
    font-family: Impact, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}
h3
{
    color: #2B2D42;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: dashed underline;
    text-align: left;

}

p
{
    text-align: left;
}

article
{
    border: solid 1px black;
}

footer
{
    text-align: right;

}

ul
{
    list-style-type: none;

}
.etoile/* pour modifier l'étoile d'obligatoire*/
{
    color: red;
}
a
{
    color: #D90429;

}
a:visited
{
    color: grey;
}
a:hover
{
    color: #2B2D42 ;

}

